.container-body {
    display: flex;
  align-items: center;
    color: black;
    background-color: #453C67;
    height: 250px;
    /* background-color: #7B8FA1; */
}
.texto-body {
    font-size: 25px ;
    color: black;
    margin: 20px;
  
}


.img-mia {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    margin-left: 10px;
}

  
  