.container-body {
  display: flex;
  align-items: center;
  margin: 30px;
  /* background-color: #453c67; */
  /* background-color: #117c6f; */
  overflow: scroll;
  height: 250px;
  /* background-color: #7B8FA1; */
}
.texto-body {
  font-size: 25px;
  color: #1b1d28;
  margin-top:200px;
  margin-left : 20px;
  margin-right : 20px;
  font-weight: bold;
  
}

.img-body {
  
  width: 200px;
  height: 200px;
  border-radius: 0%;
  margin-left: 10px;
  margin-right: 100px;
}

.container-CV {
  background-image: url("../../../public/CV.jpeg");
  margin-right: 20px;
  margin-left: 0%;
  /* border: 5px solid #352e4e; */
  border-radius: 50px;
  transition: transform 1.5s;
  transform: scale(1);
}

.btn-CV {
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 0px;
  height: 190px;
  width: 150px;
  background-color: rgba(234, 14, 14, 0);
  margin: 3%;
  transition: transform 0.2s;
  transform: scale(1);
}

.container-CV:hover {
  background-image: url("../../../public/CV.jpeg");
  opacity: 0.6;
  background-repeat: none;
  width: 200px;
  height: 200px;
  transform: scale(1.2);
}

.btn-CV:hover {
  color: rgb(71, 11, 44);
  opacity: 1;
  font-size: 20px;
  cursor: not-allowed;
  border-radius: 50px;
  transform: scale(1.2);
  font-weight: bold;
}

@media (max-width: 700px) {
  .container-body {
    width: 100%;
    color: rgb(6, 0, 0);
    height: 400px;
  }
  .texto-body {
    bottom: 10px;
    margin-bottom: -30%;
    font-size: 15px;
    font-weight: bold;
  }
  .img-mia {
    position: absolute;
    top: 290px; 
    width: 150px;
    height: 150px;
    margin: 20px;
  }
  .btn-CV{
    position: absolute;
    top: 290px;
    width: 150px;
    height: 150px;
    margin-left: -60%;
  }
  .container-CV{
    margin-left: 65%;
    position: absolute;
    top: 310px;
    width: 150px;
    height: 150px;
  }
}
