.container-body {
  display: flex;
  align-items: center;
  margin: 30px;
  overflow: auto;
  height: 350px;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.texto-body {
  font-size: 25px;
  color: #444;
  margin: 20px;
  font-weight: bold;
}

.img-body {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  margin: 20px;
  
}

.container-CV {
  background-image: url("../../../public/CV.jpeg");
  background-size: cover;
  margin: 20px;
  border-radius: 50px;
  transition: transform 0.5s;
  transform: scale(1);
}

.btn-CV {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  height: 60px;
  width: 100%;
  background-color: #e91e63;
  color: #fff;
  border-radius: 30px;
  margin: 20px;
  transition: transform 0.2s;
  transform: scale(1);
}

.container-CV:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.btn-CV:hover {
  background-color: #ff4081;
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 700px) {
  .container-body {
    height: 400px;
  }
  .texto-body {
    font-size: 16px;
    margin: 10px;
  }
  .img-body {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  .btn-CV{
    height: 50px;
    font-size: 14px;
    margin: 10px;
  }
  .container-CV{
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}





