.skills-container {
  text-align: center;
  /* background-color: #E8E2E2; */
  /* background-color: #7B8FA1; */
  background-color: #453c67;
}
h3 {
  top :0;

}

.skills {
  
  margin : 3%;
  height: 200px;
  width: 200px;
  transition: transform 0.5s ease;
}

.skills:hover {
  transform: scale(1.5);
}
