.nav-content {
  border-radius: 20px;
  /* background-color:#2b3a55f8; */
  background-color: rgba(0, 0, 0, 0.59);
  font-weight: bold;
  height: 60px;
  text-align: center;
  position: fixed;
 
  width: 100%;
  z-index: 5;
}

.nav-items {
  z-index: 5;
  visibility: visible;
    opacity: 1;
    transition: background 0.3s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0.25s;
    background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  /* background-color: #1c315e; */
}

.nav-item {
  
    border-radius: 20px;
  border: none;
  background-color: #1c315e00;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

/* #toggler ,
  .navbar-content {
    display: none;
  }
*/

.nav-item:hover {
    background-color: #1c315e00;
  transform: translateY(-10px);
  color: azure;
  cursor: pointer;
}
/* 
@media screen and (max-width: 500px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .nav-content label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}  */