.App {
  
  text-align: center;
  
}

.container {
  /* background-color:#50577A; */
  /* background-color:#50577A; */
  background-color: #50577A;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

